@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}
.container {
  padding: 20px 40px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.resultImages {
  display: flex;
  column-gap: 40px;
}
.resultImages img {
  width: 100px;
}

.userResult img {
  transform: rotate(90deg);
}

.cpuResult img {
  transform: rotate(-90deg) rotateY(180deg);
}
