@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}
.container {
  padding: 20px 40px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container.start .userResult {
  transform-origin: left;
  animation: userShake 0.7s ease infinite;
}
@keyframes userShake {
  50% {
    transform: rotate(10deg);
  }
}
.container.start .cpuResult {
  transform-origin: right;
  animation: userShake 0.7s ease infinite;
}
@keyframes cpuShake {
  50% {
    transform: rotate(-10deg);
  }
}

.resultImages {
  display: flex;
  column-gap: 40px;
}
.resultImages img {
  width: 100px;
}

.userResult img {
  transform: rotate(90deg);
}

.cpuResult img {
  transform: rotate(-90deg) rotateY(180deg);
}

.result {
  text-align: center;
  font-size: 40px;
  color: #504d4d;
  margin-top: 30px;
}
.optionImages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.container.start .optionImages {
  pointer-events: none;
}
.optionImage:hover {
  opacity: 1;
}
.optionImage.active {
  opacity: 1;
}
.optionImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.optionImage img {
  width: 50px;
  pointer-events: none;
}
.optionImage p {
  color: #504d4d;
  font-size: 15px;
  margin-top: 10px;
}
